.header {
  padding: var(--rs-space-5) var(--rs-space-11);
  border-bottom: 1px solid var(--rs-color-border-base-primary);
}

.content {
  width: 100%;
  padding: var(--rs-space-9) var(--rs-space-11);
}

.stateContent {
  padding: var(--rs-space-15) var(--rs-space-11);
}

.flex1 {
  flex: 1;
}

.tableToolbarSearchWrapper {
  max-width: 360px;
  width: 100%;
}

.tableToolbar {
  border: 0;
  margin-bottom: var(--rs-space-5);
}

.addDialogContent {
  padding: 0;
  max-width: 400px;
  width: 100%;
  z-index: 60;
}

.overlay {
  z-index: 55;
  background-color: rgba(104, 112, 118, 0.5);
}

.addDialogForm {
  padding: var(--rs-space-5) var(--rs-space-7);
}

.addDialogFormContent {
  padding: var(--rs-space-9) var(--rs-space-7);
}

.addDialogFormBtnWrapper {
  padding: var(--rs-space-5);
}
