.flex1 {
  flex: 1;
}

.leftPanel {
  min-width: 200px;
}

.rightPanel {
  overflow: scroll;
  width: 100%;
  flex: 1;
}

.planInfoColumn {
  min-width: 200px;
  max-width: 250px;
  padding: var(--pd-16) var(--pd-16) var(--pd-32) var(--pd-16);
  min-height: 252px;
  box-sizing: border-box;
  gap: 20px;
  flex: 1;
}

.planTitle {
  color: var(--rs-color-foreground-base-primary);
  font-weight: 500;
  line-height: 1.42;
  letter-spacing: 0.1px;
  text-wrap: nowrap;
}

.planPrice {
  color: var(--rs-color-foreground-base-secondary);
  font-weight: 400;
  line-height: 1.27;
  text-wrap: nowrap;
  font-size: 22px;
}

.planPriceSub {
  color: var(--rs-color-foreground-base-secondary);
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-wrap: nowrap;
}

.planDescription {
  color: var(--rs-color-foreground-base-secondary);
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-wrap: nowrap;
}

.planActionBtn {
  width: 100%;
}

.plansIntervalList {
  display: flex;
  padding: var(--pd-2);
  gap: var(--pd-1);
}

.plansIntervalListItem {
  flex: 1;
  border-radius: 0;
}

.plansIntervalListItemText {
  color: var(--rs-color-foreground-base-primary);
  font-weight: 500;
  line-height: 1.45;
  letter-spacing: 0.5px;
}

.plansIntervalListItem:focus {
  outline: none;
}

.featureCell {
  border-bottom: 1px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
  padding: var(--pd-8);
  height: 48px;
}

.featureTableHeading {
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: var(--rs-color-foreground-base-tertiary);
}

.featureLabel {
  overflow: hidden;
  color: var(--rs-color-foreground-base-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: 0.25px;
  max-width: 180px;
}

.trialWrapper {
  height: 24px;
}

.trialButton,
.trialButton:hover {
  border: none;
  outline: none;
}

.discountText {
  background: var(--rs-color-background-neutral-secondary);
  padding: var(--pd-2) var(--pd-4);
  border-radius: var(--br-4);
}

.discountText span {
  color: var(--rs-color-foreground-base-secondary);
}
