rules:
  - backends:
      - name: potato
        target: "http://{{.host}}:{{.port}}"
        prefix: "/api"
        frontends:
          - name: ping
            path: "/api/ping"
            method: "GET"
          - name: create_resource
            path: "/api/resource"
            method: "POST"
            hooks:
              - name: authz
                config:
                  action: authz_action
                  attributes:
                    resource:
                      key: X-Frontier-Name
                      type: header
                      source: request
                    project:
                      key: X-Frontier-Project
                      type: header
                      source: request
                    user:
                      key: X-Frontier-User
                      type: header
                      source: request
                    resource_type:
                      key: X-Frontier-Resource-Type
                      type: header
                      source: request