.empty-state {
  height: 100%;
}

.zero-state-container {
  padding: var(--rs-space-10);
}

.empty-state-subheading {
  max-width: 360px;
  text-wrap: auto;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table-wrapper {
  /* Navbar Height + Toolbar height */
  max-height: calc(100vh - 90px);
  overflow: scroll;
}

.table-header {
  z-index: 2;
}

.first-column {
  padding-left: var(--rs-space-7);
}

.truncate-cell > * {
  width: 100%;
  min-width: 0;
}

.truncate-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
