.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main_content {
  width: 100%;
  transition: width 0.3s ease;
}

.main_content_with_sidebar {
  width: calc(100% - 400px);
  transition: width 0.3s ease;
}

.navbar {
  padding: var(--rs-space-4) var(--rs-space-7);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-action-menu-content {
  min-width: 160px;
}

.side-panel-section-item-label {
  width: 120px;
}
