.profileDescription { 
  color: var(--foreground-muted); 
}

.deleteIcon {
  cursor: pointer;
}

.prefixInput {
  position: relative;
  border-radius: var(--br-4);
  padding: var(--pd-8);
  background-color: var(--background-base);
  border: 0.5px solid var(--border-base);
  box-shadow: var(--shadow-xs);
  color: var(--foreground-base);
  display: flex;
  align-items: center;
  width: 100%;
}

.prefixInput:focus-within {
  border: 1px solid var(--background-accent-inverted);
}

.prefixInput>input {
  background-color: var(--background-base);
  outline: none;
  border: none;
  width: 100%;
}