.profileDescription {
  color: var(--rs-color-foreground-base-secondary);
}

.deleteIcon {
  cursor: pointer;
}

.prefixInput {
  position: relative;
  border-radius: var(--br-4);
  padding: var(--pd-8);
  background-color: var(--rs-color-background-base-primary);
  border: 0.5px solid var(--rs-color-border-base-secondary);
  box-shadow: var(--shadow-xs);
  color: var(--rs-color-foreground-base-primary);
  display: flex;
  align-items: center;
  width: 100%;
}

.prefixInput:focus-within {
  border: 1px solid var(--rs-color-background-accent-primary-inverted);
}

.prefixInput > input {
  background-color: var(--rs-color-background-base-primary);
  color: var(--rs-color-foreground-base-primary);
  outline: none;
  border: none;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
}

.prefixInput > input:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.overlay {
  z-index: 55;
  background-color: rgba(104, 112, 118, 0.5);
}
