build
.env
.DS_Store
.idea/
.vscode/
proxies/*.yaml
proxies/*.yml
.temp
temp
shield
config.yaml
config.yml
coverage.txt
coverage.out
*.pprof
ignore/
vendor/
buf.lock
buf.yaml
/resources_config
resource_config
/rules
