build
.env
.DS_Store
.idea/
proxies/*.yaml
proxies/*.yml
.temp
temp
shield
!proto/*
.shield.yaml
dist
coverage.txt
coverage.out
rules/test.yaml
*.pprof
ignore/
vendor/
buf.gen.yaml
docker-compose.yml
buf.lock
buf.yaml
store/postgres/user_test.go