version: "3.7"

services:
  pg:
    image: postgres:12
    environment:
      - POSTGRES_DB=shield
      - POSTGRES_USER=shield
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./temp/pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U shield"]
      interval: 30s
      timeout: 30s
      retries: 3
  
  pg2:
    image: "postgres:12"
    environment:
      POSTGRES_USER: "spicedb"
      POSTGRES_DB: "spicedb"
      POSTGRES_HOST_AUTH_METHOD: "trust"
    volumes:
      - ./temp/pgdata2:/var/lib/postgresql/data
    ports:
      - "5431:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U spicedb"]
      interval: 30s
      timeout: 30s
      retries: 3

  shield-migrate:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command:
      - "migrate"
    depends_on:
      pg:
        condition: service_healthy
    environment:
      - SHIELD_DB_DRIVER=postgres
      - SHIELD_DB_URL=postgres://shield:@pg:5432/shield?sslmode=disable
      - SHIELD_SPICEDB_HOST=spicedb
      - SHIELD_SPICEDB_PRE_SHARED_KEY=shield;

  shield:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "8080:8080"
    command:
      - "serve"
    depends_on:
      pg:
        condition: service_healthy
      shield-migrate:
        condition: service_completed_successfully
    environment:
      - SHIELD_DB_DRIVER=postgres
      - SHIELD_DB_URL=postgres://shield:@pg:5432/shield?sslmode=disable

  spicedb-migration:
    image: quay.io/authzed/spicedb:v1.0.0
    command: spicedb migrate head --datastore-engine postgres --datastore-conn-uri postgres://spicedb:@pg2:5432/spicedb?sslmode=disable
    restart: on-failure
    depends_on:
      pg2:
        condition: service_healthy
        
  spicedb:
    image: quay.io/authzed/spicedb:v1.0.0
    ports:
      - "8080:8080"
      - "50051:50051"
      - "50053:50053"
    command:
      spicedb serve --grpc-preshared-key "shield" --grpc-no-tls --datastore-engine postgres
      --datastore-conn-uri postgres://spicedb:@pg2:5432/spicedb?sslmode=disable
    restart: on-failure
    depends_on:
      pg2:
        condition: service_healthy
      spicedb-migration:
        condition: service_completed_successfully