version: "3.7"

services:
  pg:
    image: postgres:12
    environment:
      - POSTGRES_DB=shield
      - POSTGRES_USER=shield
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - ./temp/pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  spicedb-migration:
    image: quay.io/authzed/spicedb:v1.0.0
    command: spicedb migrate head --datastore-engine postgres --datastore-conn-uri postgres://spicedb:@pg2:5432/spicedb?sslmode=disable
    restart: on-failure
    depends_on:
      - pg2
  spicedb:
    image: quay.io/authzed/spicedb:v1.0.0
    ports:
      - "8080:8080"
      - "50051:50051"
      - "50053:50053"
    command:
      spicedb serve --grpc-preshared-key "shield" --grpc-no-tls --datastore-engine postgres
      --datastore-conn-uri postgres://spicedb:@pg2:5432/spicedb?sslmode=disable
    restart: on-failure
    depends_on:
      - pg2
      - spicedb-migration
  pg2:
    image: "postgres:12"
    environment:
      POSTGRES_USER: "spicedb"
      POSTGRES_DB: "spicedb"
      POSTGRES_HOST_AUTH_METHOD: "trust"
    volumes:
      - ./temp/pgdata2:/var/lib/postgresql/data
    ports:
      - "5431:5432"