.side-panel-section-item-label {
  width: 120px;
}

.org-details-section-org-id,
.kyc_link {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kyc-status-icon {
  height: var(--rs-space-5);
  width: var(--rs-space-5);
}
