body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

#root {
  min-height: 100vh;
}

.closeBtn {
  border: 0px;
  cursor: pointer;
  background-color: var(--background-color);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
