.tableRoot {
    width: 100%;
}
.tableWrapper {
    width: 100%;
}

.table {
    table-layout: fixed;
}

.header {
    background-color: var(--rs-color-background-base-primary);
    border-bottom: 1px solid var(--rs-color-border-base-primary);
}

.permissionsColumn {
    max-width: 500px;
    text-wrap: wrap;
}

.sheetContent {
    width: 400px;
    padding: 0;
}

.sheetContentBody {
    padding: var(--rs-space-5);
}
