.createContainer {
  margin: auto;
  width: 100%;
  max-width: 384px;
  padding: var(--rs-space-9);
}

.overlay {
  z-index: var(--rs-z-index-portal);
  background-color: rgba(104, 112, 118, 0.5);
}

.dropdownActionItem {
  cursor: pointer;
  gap: var(--rs-space-3);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--rs-color-foreground-base-primary);
  background: var(--rs-color-background-base-primary);
  padding: var(--rs-space-3);
  flex: 1;
}

.dropdownActionItem:hover {
  background: var(--rs-color-background-base-primary-hover);
  color: var(--rs-color-foreground-base-primary);
}

.noSelectItem {
  color: var(--rs-color-foreground-base-secondary);
  padding: var(--rs-space-3);
}

.orgTabsContainer {
  box-sizing: border-box;
}
