.createContainer {
  margin: auto;
  width: 100%;
  max-width: 384px;
  padding: var(--pd-32);
}

.overlay {
  z-index: 55;
  background-color: rgba(104, 112, 118, 0.5);
}

.dropdownActionItem {
  cursor: pointer;
  gap: var(--pd-8);
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--foreground-base);
  background: var(--background-base);
  padding: var(--pd-8);
}

.dropdownActionItem:hover {
  background: var(--background-base-hover);
  color: var(--foreground-base);
}

.noSelectItem {
  color: var(--foreground-muted);
  padding: var(--pd-8);
}
