.container {
  min-width: 220px;
  max-width: 480px;
  width: 100%;
  color: var(--foreground-base);
}

.title {
  font-weight: 400;
}

.shadowxs {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06);
}
.shadowsm {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
}
.shadowmd {
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}
.shadowlg {
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.radiusxs {
  border-radius: 4px;
}
.radiussm {
  border-radius: 8px;
}
.radiusmd {
  border-radius: 16px;
}
.radiuslg {
  border-radius: 24px;
}