.detailsBox {
  padding: var(--pd-12);
  display: flex;
  border: 0.5px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
  box-shadow: var(--shadow-xs);
  border-radius: var(--br-4);
  min-width: 342px;
  gap: 16px;
  flex-direction: column;
  flex: 1;
}

.detailsBoxHeading {
  color: var(--rs-color-foreground-base-primary);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.detailsBoxRowLabel {
  color: var(--rs-color-foreground-base-secondary);
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.detailsBoxRowValue {
  color: var(--rs-color-foreground-base-primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.currentPlanInfoBox {
  padding: var(--pd-8);
  border-radius: var(--br-4);
  border: 0.5px solid var(--rs-color-border-accent-primary);
  background: var(--rs-color-background-accent-primary);
  box-shadow: var(--shadow-xs);
}

.billingCycleBox {
  padding: var(--pd-12);
  border-radius: var(--br-4);
  box-shadow: var(--shadow-xs);
  border: 0.5px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
}

.currentPlanInfoText {
  color: var(--rs-color-foreground-base-primary);
  font-weight: 400;
}

.flex1 {
  flex: 1;
}

.paymentIssueBox {
  padding: var(--pd-8);
  border-radius: var(--br-4);
  box-shadow: var(--shadow-xs);
  border: 0.5px solid var(--rs-color-border-danger-primary);
  background: var(--rs-color-background-danger-primary);
}

.paymentIssueText {
  color: var(--rs-color-foreground-danger-primary);
}

.retryPaymentBtn {
  background: var(--rs-color-background-danger-primary);
  color: var(--rs-color-foreground-base-primary);
}

.retryPaymentBtn:focus,
.retryPaymentBtn:hover {
  outline: none;
  font-weight: 500;
}

.changeBannerBox {
  padding: var(--pd-8);
  border-radius: var(--br-4);
  box-shadow: var(--shadow-xs);
  border: 0.5px solid var(--rs-color-border-accent-primary);
  background: var(--rs-color-background-accent-primary);
}

.linkBtn {
  border: none;
  outline: none;
  background: transparent;
  color: var(--rs-color-foreground-accent-primary);
}

.linkBtn:hover {
  font-weight: 600;
  border: none;
  outline: none;
  background: transparent;
}
