.container {
  height: 100%;
  padding: var(--rs-space-9) var(--rs-space-11);
  overflow: hidden;
  box-sizing: border-box;
}

.tableWrapper {
  height: 100%;
}

.tableRoot {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tableHeader {
  z-index: 1;
}

.tableSearchWrapper {
  max-width: 500px;
  flex: 1;
}

.tabContent {
  height: 100%;
}
