.navbar {
  padding: var(--rs-space-4) var(--rs-space-7);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  height: auto;
}

.table-empty {
  height: 100%;
}

.empty-state {
  height: 100%;
}

.empty-state-subheading {
  max-width: 360px;
  text-wrap: auto;
}

.name-column {
  padding-left: var(--rs-space-7);
  max-width: 200px;
}

.country-column {
  max-width: 150px;
}

.table-wrapper {
  /* Navbar Height + Toolbar height */
  max-height: calc(100vh - 90px);
  overflow: scroll;
}

.table-header {
  /* position: relative; */
  z-index: 2;
}

.drawer-content {
  min-width: 500px;
  padding: 0;
  width: fit-content;
}

.side-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.side-panel-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.side-panel-content {
  overflow: auto;
  padding: var(--rs-space-7);
}

.side-panel-footer {
  border-top: 1px solid var(--rs-color-border-base-primary);
  padding: var(--rs-space-5) var(--rs-space-7);
}

.select-value {
  width: 100%;
}

.select-content {
  max-height: 400px;
}
