.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
  padding: var(--rs-space-9) var(--rs-space-11);
  overflow: hidden;
}

.stateContent {
  padding: var(--rs-space-15) var(--rs-space-11);
}

.flex1 {
  flex: 1;
}

.tableToolbarSearchWrapper {
  max-width: 360px;
  width: 100%;
}

.tableToolbar {
  border: 0;
  margin-bottom: var(--rs-space-5);
}

.addDialogContent {
  padding: 0;
  max-width: 400px;
  width: 100%;
}

.overlay {
  background-color: rgba(104, 112, 118, 0.5);
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.tableRoot {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 0;
}

.tableHeader {
  z-index: 1;
}

.tableSearchWrapper {
  max-width: 500px;
  flex: 1;
}
