.container {
  min-width: 220px;
  max-width: 480px;
  width: 100%;
  color: var(--rs-color-foreground-base-primary);
}

.title {
  font-weight: 400;
}

.shadowxs {
  box-shadow: var(--rs-shadow-feather);
}
.shadowsm {
  box-shadow: var(--rs-shadow-soft);
}
.shadowmd {
  box-shadow: var(--rs-shadow-lifted);
}
.shadowlg {
  box-shadow: var(--rs-shadow-floating);
}

.radiusxs {
  border-radius: var(--rs-radius-2);
}
.radiussm {
  border-radius: var(--rs-radius-4);
}
.radiusmd {
  border-radius: var(--rs-radius-6);
}
.radiuslg {
  border-radius: 24px;
}