.container {
    width: 100%;
}

.name-column {
    padding-left: var(--rs-space-7);
}

.empty-state {
    height: 100%;
}

.empty-state-subheading {
    max-width: 360px;
    text-wrap: auto;
}

.zero-state-container {
    padding: var(--rs-space-10);
}

.zero-state {
    padding-top: var(--rs-space-17);
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table-wrapper {
    /* Navbar Height + Toolbar height */
    max-height: calc(100vh - 90px);
    overflow: scroll;
}

.table-header {
    /* position: relative; */
    z-index: 2;
}

.table-action-column {
    width: var(--rs-space-12);
}

.table-action-column > * {
    opacity: 0;
    transition: opacity 120ms ease-in-out;
}

.table-wrapper tr:hover .table-action-column > *,
.table-action-column:focus-within > *,
.table-action-column:has([data-popup-open]) > * {
    opacity: 1;
}
