.inviteDropdownItem {
  padding: var(--rs-space-3);
  user-select: none;
  cursor: pointer;
  background-color: var(--rs-color-background-base-primary);
  color: var(--rs-color-foreground-base-primary);
}

.inviteDropdownItem:hover {
  background-color: var(--rs-color-background-base-primary-hover);
}

.popoverContent {
  padding: 0;
  min-width: 300px;
  pointer-events: auto;
}

.tableWrapper {
  height: 100%;
}

.tableRoot {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tableHeader {
  z-index: 1;
}

.tableSearchWrapper {
  max-width: 500px;
  flex: 1;
}

.container {
  margin-top: var(--rs-space-5);
  height: calc(100% - var(--rs-space-5));
}
