.header {
  margin-top: calc(-1 * var(--rs-space-9));
  padding-top: var(--rs-space-9);
}

.linkColumn {
  text-align: right;
}

.linkColumn > a {
  color: var(--rs-color-foreground-accent-primary);
  text-decoration: none;
}
