.container {
  background-color: var(--rs-color-background-base-primary);
  width: 100%;
  height: 100%;
  overflow: auto;
}

.content {
  width: 100%;
  padding: var(--rs-space-9) var(--rs-space-11);
  box-sizing: border-box;
}
