.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--rs-space-5);
  align-self: stretch;
}

.uploadIconWrapper {
  display: flex;
  width: 80px;
  height: 80px;
  gap: var(--rs-space-5);
  justify-content: center;
  align-items: center;
  border-radius: var(--rs-radius-2, 4px);
  border: 1px dashed var(--rs-color-border-accent-primary);
  color: var(--rs-color-foreground-accent-primary);
  cursor: pointer;
}

.uploadIconWrapper > svg {
  width: 48px;
  height: 48px;
}

.inputFileField {
  display: none;
}

.overlay {
  background-color: rgba(104, 112, 118, 0.5);
}

.cropModal {
  padding: 0;
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reactCrop:focus {
  border-color: transparent;
}

.modalContentBox {
  padding: 16px 32px;
  max-height: '280px';
  height: 100%;
}

.previewImg {
  max-height: 248px !important; /* modalContentBox's max-height - 2x modalContentBox'padding  */
  object-fit: contain;
}
