.page {
  width: 100%;
}

.navbar {
  padding: var(--rs-space-4) var(--rs-space-7);
  border-bottom: 0.5px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-action-menu-content {
  min-width: 160px;
}

.side-panel {
  width: 400px;
  border-left: 0.5px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
  padding: var(--rs-space-4);
  overflow: scroll;
}
