.header {
  padding: var(--rs-space-5) var(--rs-space-11);
  border-bottom: 1px solid var(--rs-color-border-base-primary);
}

.flex1 {
  flex: 1;
}

.content {
  width: 100%;
  padding: var(--rs-space-9) var(--rs-space-11);
}

.serviceKeyList {
  overflow: auto;
  height: calc(70vh - 180px);
}

.serviceKeyItem {
  padding: var(--rs-space-5);
  border: 1px solid var(--rs-color-border-base-primary);
  border-radius: var();
}

.serviceKeyItem + .serviceKeyItem {
  border-top: none;
}

.serviceKeyItem:first-of-type {
  border-top-left-radius: var(--rs-radius-2);
  border-top-right-radius: var(--rs-radius-2);
}

.serviceKeyItem:last-of-type {
  border-bottom-left-radius: var(--rs-radius-2);
  border-bottom-right-radius: var(--rs-radius-2);
}

.serviceKeyItemLoaderBtn {
  display: flex;
  justify-content: end;
  flex: 1;
  width: 100px;
}

.addKeyInputWrapper {
  width: 100%;
  position: relative;
}

.addKeyInputError {
  position: absolute;
  top: 100%;
}

.tokenBox {
  padding: var(--rs-space-3) var(--rs-space-4);
  border-radius: var(--rs-radius-2);
  border: 1px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary-hover);
}

.tokenText {
  max-width: 90%;
  word-break: break-all;
}

.addDialogContent {
  padding: 0;
  max-width: 400px;
  width: 100%;
  z-index: 60;
}

.overlay {
  z-index: 55;
  background-color: rgba(104, 112, 118, 0.5);
}

.addDialogForm {
  padding: var(--rs-space-5) var(--rs-space-7);
}

.addDialogFormContent {
  padding: var(--rs-space-9) var(--rs-space-7);
}

.addDialogFormBtnWrapper {
  padding: var(--rs-space-5);
}

.manageProjectDialog {
  padding: var(--rs-space-5) var(--rs-space-7);
}

.manageProjectDialogWrapper {
  padding: var(--rs-space-5) var(--rs-space-7);
}

.manageProjectDialogContent {
  height: 70%;
  width: 70%;
  padding: 0;
}
