.container {
  height: 100%;
  padding: var(--rs-space-9) var(--rs-space-11);
  overflow: hidden;
}

.tableWrapper {
  height: 100%;
}

.tableRoot {
  height: calc(100% - 128px);
  overflow-y: auto;
  overflow-x: hidden;
}

.tableHeader {
  z-index: 1;
}

.tableSearchWrapper {
  max-width: 500px;
  flex: 1;
}

.skeletonRow {
  margin-top: var(--rs-space-8);
}
