.header {
  padding: var(--rs-space-5) var(--rs-space-11);
  border-bottom: 1px solid var(--rs-color-border-base-primary);
  gap: var(--rs-space-3);
}

.container {
  padding: var(--rs-space-9) var(--rs-space-11);
  overflow: scroll;
}
