.tableRoot {
  border: none;
}

.table {
  table-layout: fixed;
}

.menuContent {
  min-width: 180px;
}

.emptyStateIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyState {
  padding-top: var(--rs-space-17);
}
