.container {
  width: 100%;
}

.content {
  padding-top: var(--rs-space-11);
  max-width: 758px;
  width: 100%;
}

.domains-list {
  padding: var(--rs-space-1) var(--rs-space-7);
  border-radius: var(--rs-radius-2);
  border: 1px solid var(--rs-color-border-base-primary);
  background: var(--rs-color-background-base-primary);
}

.domains-list-item {
  padding: var(--rs-space-5) 0;
  border-bottom: 1px solid var(--rs-color-border-base-primary);
}

.domains-list-item:last-child {
  border-bottom: none;
}
