.roleFilter {
  width: auto;
  min-width: 80px;
  box-shadow: none;
}

.tableRoot {
  border: none;
}

.table {
  table-layout: fixed;
}

.tableRow > td {
  padding: var(--rs-space-3);
}

.menuContent {
  min-width: 180px;
}
