.sidebar {
  padding-top: var(--rs-space-5);
  padding-bottom: var(--rs-space-5);
  height: auto;
  /* TODO: fix width in sidebar component */
  width: 220px !important;
}

.sidebar :global(.sidebar-module_main__qDvo4) {
  gap: var(--rs-space-1);
}

.sidebar-group {
  margin-top: var(--rs-space-5);
}
