name: Test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22.2"
      - name: install dependencies
        run: go mod tidy
      - name: run unit tests
        run: make test
      - name: Send coverage to coveralls
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out

  smoke:
    runs-on: ubuntu-latest
    services:
      dind:
        image: docker:24.0.2-dind-rootless
        ports:
          - 2375:2375
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22.2"
      - name: install dependencies
        run: go mod tidy
      - name: install spicedb binary
        uses: authzed/action-spicedb@v1
      - name: run smoke tests
        run: make e2e-smoke-test

  regression:
    runs-on: ubuntu-latest
    services:
      dind:
        image: docker:24.0.2-dind-rootless
        ports:
          - 2375:2375
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.22.2"
      - name: install dependencies
        run: go mod tidy
      - name: run regression tests
        run: make e2e-regression-test
